{%  assign product = section.settings.product69 %}

{% for block in section.blocks %}
    {%- case block.type -%}
      {%- when "title" -%}
        <h1>{{ product.title }}</h1>
    {% endcase %}
{% endfor %}
  

{%  schema  %}
{
"name":"product section",
"tag": "section",
"class":"section", 
"settings":[
  {
    "type":"product",
    "id":"product69",
    "label": "Choose product"
  }
],
"blocks": [
    {
        "type":"title",
        "name": "Product",
        "limit":1
    }
],
"presets":[
    {"name":"product section"}
]
}
{% endschema %} 