{%  assign product = section.settings.product69 %}

{% for block in section.blocks %}
    {%- case block.type -%}
      {%- when "title" -%}
        <div>
            <h1>{{ product.title }}</h1>
        </div>
        {%- when "description" -%}
            <p>
                <h1>{{ product.description }}</h1>
            </p>
            {%- when "price" -%}
                <p>
                    <h1>{{ product.price }}</h1>
                </p>
    {% endcase %}
{% endfor %}
  

{%  schema  %}
{
"name":"product section",
"tag": "section",
"class":"section", 
"settings":[
  {
    "type":"product",
    "id":"product69",
    "label": "Choose product"
  }
],
"blocks": [
    {
        "type":"title",
        "name": "title",
        "limit":1
    },
    {
        "type":"description",
        "name": "description",
        "limit":1
    },
    {
        "type":"price",
        "name": "price",
        "limit":1
    },
    {
        "type":"mefield",
        "name": "metafield",
        "limit":1
    }
],
"presets":[
    {"name":"product section"}
]
}
{% endschema %} 